.container{
    display: flex;

}
body{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
button{
    background: none;
    font-size: 20px;
    border: none;
    width: 100px;
}